<div id="footer">
  &copy; <%= Time.now.year %>
  -
  <a href="https://github.com/nickymast/rails_home_splash" target="_blank">
    <%= fa_icon "github", text: "Source Code" %>
  </a>&nbsp;

 <br>Site Designed and Developed by Nicole Mast &nbsp;
  <a href="mailto:nicky.mast@gmail.com">
   <%= fa_icon "envelope-o" %>
  </a>&nbsp;
  <a href="https://github.com/nickymast" target="_blank">
   <%= fa_icon "github" %>
  </a>&nbsp;
  <a href="https://instagram.com/nickymast" target="_blank">
    <%= fa_icon "instagram" %>
  </a>&nbsp;
  <a href="https://twitter.com/nickymast" target="_blank">
    <%= fa_icon "twitter" %>
  </a>&nbsp;
</div>