<div id="footer">
  &copy; <%= Time.now.year %>
  -
  <a href="https://github.com/nickymast/rails_home_splash" target="_blank">
    <%= fa_icon "github", text: "Source Code" %>
  </a>&nbsp;

 <br>Site Designed and Developed by Nicole Mast &nbsp;
 <%= fa_icon "github" %>&nbsp; &nbsp;
 <%= fa_icon "instagram" %>&nbsp; &nbsp;
 <%= fa_icon "twitter" %>&nbsp; &nbsp;
</div>